#
#  ansible_managed : "{{  ansible_managed }}"
#  template_host : "{{ template_host }}"
#  template_uid: "{{ template_uid }}"
#  template_path: "{{ template_path }}"
#  template_fullpath: "{{ template_fullpath }}"
#  template_destpath: "{{ template_destpath }}"
#  template_run_date: "{{ template_run_date }}"

# -*- text -*-
##
##  eap.conf -- Configuration for EAP types (PEAP, TTLS, etc.)
##
##	$Id: f67cbdbff9b6560cec9f68da1adb82b59723d2ef $

#######################################################################

{% for eap_module in site_def.eap_configs %}
#
# EAP Module {{ eap_module.name }}
#
eap {{ eap_module.name }} {
	default_eap_type = {{ eap_module.default_eap_type }}

	timer_expire     = 60

	ignore_unknown_eap_types = no

	max_sessions = ${max_requests}

	# Supported EAP-types

	## Common TLS configuration for TLS-based EAP types
	tls-config tls-common {
		private_key_password = {{ eap_module.tls_common.private_key_password }}
		private_key_file = {{ eap_module.tls_common.private_key_file }}
		certificate_file = {{ eap_module.tls_common.certificate_file }}

		ca_file = {{ eap_module.tls_common.ca_file }}

		auto_chain = yes

		#  	openssl dhparam -out certs/dh 2048
		#
		dh_file = ${certdir}/dh

		fragment_size = 1024

		include_length = yes

		ca_path = ${cadir}

		cipher_list = "DEFAULT"

		cipher_server_preference = no

		tls_min_version = "{{ eap_module.tls_common.tls_min_version }}"

		tls_max_version = "{{ eap_module.tls_common.tls_max_version }}"
#		tls_max_version = "1.3"


		#
		#  Session resumption / fast reauthentication
		#  cache.
		cache {
			enable = no

			lifetime = 24 # hours

		}

		verify {
		}

		#
		#  OCSP Configuration
		#
		ocsp {
			enable = no

			override_cert_url = yes

			url = "http://127.0.0.1/ocsp/"
		}
	}

	## EAP-TTLS
	#
	ttls {
		tls = tls-common

		default_eap_type = {{ eap_module.ttls.default_tunneled_eap }}

		copy_request_to_tunnel = yes

		virtual_server = "{{ eap_module.ttls.virtual_server }}"

		include_length = yes

		require_client_cert = no
	}


	## EAP-PEAP
	#
	peap {
		tls = tls-common

		default_eap_type = {{ eap_module.peap.default_tunneled_eap }}

		copy_request_to_tunnel = yes

		use_tunneled_reply = yes

		proxy_tunneled_request_as_eap = yes

		virtual_server = "{{ eap_module.peap.virtual_server }}"

		require_client_cert = no
	}

	mschapv2 {
		send_error = yes
	}
}
{% endfor %}
