# -*- text -*-
##
## admin.sql -- MySQL commands for creating the RADIUS user.
##
##	WARNING: You should change 'localhost' and 'radpass'
##		 to something else.  Also update raddb/sql.conf
##		 with the new RADIUS password.
##
##	$Id: aff0505a473c67b65cfc19fae079454a36d4e119 $

#
# Create DATABASES
#
{% for db in site_def.databases %}

#
#  Create RADIUS database {{ db.radius_db }}
#
CREATE DATABASE IF NOT EXISTS {{ db.radius_db }};
USE {{ db.radius_db }};
SOURCE {{ f_path }}/schema.sql;

#
#  Create default administrator for RADIUS
#
CREATE USER IF NOT EXISTS '{{ db.login }}';
SET PASSWORD FOR '{{ db.login }}' = PASSWORD('{{ db.password }}');

# The server can read any table in SQL
GRANT SELECT ON {{ db.radius_db }}.* TO '{{ db.login }}';

# The server can write to the accounting and post-auth logging table.
#
#  i.e.
GRANT ALL on {{ db.radius_db }}.radacct TO '{{ db.login }}';
GRANT ALL on {{ db.radius_db }}.radpostauth TO '{{ db.login }}';

{% endfor %}
